[2012-09-07 16:30] risacher opened #1 "PuTTY-CAC with multiple CACs behaves erratically"
[issue copied over from Forge.mil]

PuTTY-CAC behaves erratically when multiple readers and cards are present in my machine.  Presently I have 3 card readers.  In one I have my regular DoD CAC.  In another I'm using an alternate token which contains one certificate.  The third reader is empty.  I am using ActivClient middleware (acpkcs211.dll).  Basically what happens is in the pkcs11 configuratio

[2012-09-07 16:32] risacher opened #2 "Update PuTTY-CAC to match latest PuTTY release"
PuTTY-CAC is based on a cvs snapshot of PuTTY that is older than the 0.62 release.

[2012-09-07 16:32] risacher opened #3 "Doesn't work properly with Coolkey middleware"
Doesn't work properly with Coolkey middleware

[2012-09-07 16:33] risacher opened #4 "Doesn't work properly with CACKey middleware"
Doesn't work properly with CACKey middleware

[2012-09-12 05:20] #2 closed, assigned to risacher

[2012-11-20 13:42] jdantzler opened #5 "Pageant Not Communicating..."
Pageant is not communicating with newer versions of WinSCP or TortoiseSVN.  We are currently stuck on WinSCP 4.2.9 and TortoiseSVN 1.6.5.  We really need to update our software, but doing so will break us from using Pageant for authentication.  We are trying to use the CAPI cert feature with our CACs.  I have already downloaded diff/patch files from here and recompiled the source code, but it seem

[2012-11-26 22:26] risacher opened #6 "command-line way of extracting ssh-keystring"
users have requested a command-line tool for extracting the ssh-keystring.

[2012-12-13 14:14] #5 closed, assigned to nobody

[2013-08-07 14:24] risacher opened #8 "Sync with PuTTY 0.64 (was 0.63)"
Sync with PuTTY 0.63

[2013-09-25 07:52] McSlow opened #9 "Autoload CAPI Cert from command line"
Hi,
short question: is there any way to autoload a capi cert into pageant from command line?
a short attempt to just add "pageant.exe Users/MY/03573151..." (as shown in the key dialog when loaded) to the command line lead to a "couldn't load this key" messagebox.

best regards,
Björn

[2014-05-20 13:28] r0otsharp opened #10 "Doesn't work pkcs#11 with Securemetric ST3 Token"
Hi

I want to Setup PKCS#11 Settings. but after set PKSC#11 Library your software show list of token. then select token when leave token label and set certificate label token label automatically clear and certificate label is empty. please help me.
when i again select token label show E: NO SLOTS FOUND!
Best Regards
Ehsan Farahani

[2014-08-04 08:24] avivzl opened #11 "Putty-cac and SSH certificates"
Hi,

Putty CAC works great with public keys. As far as I understand I take out the public key out of the user certificate (from the token) and put it into the SSH authoruzed_keys. So far so good.

Suppose I want to use SSH certificates. in this scenario I usually put the public key of the CA  into the server and then use my public certificate (instead of my public key)  and my private key to log i

[2015-01-07 07:31] deejayy commented on #9
According to the source, you must prepend the key with "CAPI:", so pageant.exe CAPI:<key>, but i can put anything in <key>, pageant result in an appcrash.

[2015-01-07 08:07] deejayy commented on #9
Wow, got it working with this:
pageant.exe CAPI:User\\\\MY\\\\&lt;hex-key&gt;

[2015-01-07 12:33] jdantzler commented on #9
I am also having difficulty making it work.  Is the hex-key the same as the capi key?  This is what I have so far and I still get the error: "Couldn't load this key (unable to open file)

 "C:\Program Files\Putty\pageant.exe"  CAPI:User\\\\MY\\\\<my-capi-key>

[2015-02-10 21:12] risacher opened #12 "ECC Certs"
add support for ECC certificates on smartcards, especially with regard to the ssh-keystring generation

[2015-02-16 16:58] CardContact opened #13 "putty-cac not working with pageant-cac"
While authentication via CAPI works when configured directly in putty-cac, it doesn't when pageant-cac is used and putty-cac is configured to use the Pageant (Disconnected: No supported authentication method available (Server send publickey))

Certificate was added to pageant via "Get CAPI Cert" button.

plink reports:

Pageant is running. Requesting keys.
Failed to get reply from pageant.

Is thi

[2015-03-06 17:20] risacher opened #14 "Add support for newer Message Authentication Code"
User report: ...our systems are secured to adhere to a higher
MAC - Message Authentication Code

Our severs are configured to only support:

    hmac-ripemd160,hmac-sha2-256,hmac-sha2-512

The Putty-CAC only suports:

    hmac-sha1,hmac-sha1-96,hmac-md5

[2015-03-16 13:58] CardContact commented on #13
After compiling the version from master the problem disappeared.

Maybe the compiled version on the website need an update ?

[2015-03-16 13:58] #13 closed

[2015-07-27 14:05] jbjonesjr opened #15 "Middleware?"
I see that this doesn't work with cackey or coolkey.  I assume it only works with activclient?

[2015-08-11 09:15] LordMike commented on #8
0.65 is now in beta, last release was 2015-07-25.

[2015-08-12 18:30] foulsoft commented on #9
Dear all,

Using http://www.risacher.org/putty-cac/pageant.exe to download CAPI capable pageant from PuTTY-CAC project... I only ask for pageant followed by the CAPI key found using PuTTY... just like....(of course <HexKey> is to be replaced with your actual Hex Key... :)
pageant CAPI:User\MY\<HexKey>

Hope this helps.... Francois.

[2015-08-14 19:19] risacher commented on #8
PuTTY-CAC version sync'd to PuTTY-0.65 is available at http://risacher.org/putty-cac/  - will be integrated into the github codebase, although probably not until mid-September.

[2015-08-15 09:29] LordMike commented on #9
I'd like this too. :)

[2015-08-15 09:31] LordMike opened #17 "Clicking "Remove key" in Pageant without any key selected, crashes the application"
As the title says.

However, this last time when I wanted to grab a screenshot - suddenly it doesn't happen?
It's happened every time I tested it up until now though.

Version was just downloaded today from http://risacher.org/putty-cac/, but the "File Version" is 0.0.0.0

[2015-08-15 14:32] iticory commented on #9
This already works, but you have to use the hex value of the certificate's thumbprint:

pageant.exe CAPI:User\MY\THUMBPRINT

You can find the thumbprint on the details tab of the "Certificate Details" window.  Just make sure to remove all of the spaces if you copy paste it.

C:\Users\username\Downloads\pageant.exe CAPI:User\MY\cd196a916babfb87adbcd72a3417a1a428d7573c

This works from the command l

[2015-08-15 14:51] iticory commented on #8
FYI...  If you're like me, the only feature you need from PuTTY-CAC is the ability to use CAPI certificates,

For this all I need is pageant.exe and I just continue to use the mainline version of PuTTY.  Whenever PuTTY releases a new version, I've always been able to upgrade it while keeping my existing pageant.

It's possible this may not always work as PuTTY might release an update that breaks c

[2015-08-17 00:21] YujiXcast commented on #8
+1 for iticory, from user point of view.

However, in original pageant code is not clearly separate from others, putty, puttygen, plink, and so on.  I guess It seems not so easy to cherry pick CAPI deltas only for pageant.

On the other hand, pkcs#11 code in Putty-CAC 0.62 should be erased as Risacher mentioned CAPI is recommended, shouldn't it?

[2015-08-17 02:11] YujiXcast commented on #8
How Lovely!

Carelessly, I didn't read README.md and checked http://risacher.org/putty-cac/  . There are zip archives of Josh Dantzler. He did it.

They already erased pkcs#11 API. :+1:

Thanks Josh & Risacher.

[2015-08-17 04:21] YujiXcast commented on #9
As @iticory wrote, I made pageant up with shortcut in my startup folder. It works fine with pageant of putty-cac 0.62.

As @risacher and @jdantzler released 0.65, I tried new pageant. While it works fine with GUI, but cannot append my CAPI entry with CLI options. Pagent makes error dialog "Couldn't load this key (unable to open file)".

[2015-08-17 18:11] jdantzler commented on #9
@YujiXcast I have fixed the issue with the CAPI entry not appending automatically.  I will upload the fix to my github page shortly and I will see if I can get @risacher to update his site with the fix as well.

[2015-08-18 00:08] IMAI-Yuji commented on #9
Thanks Josh! :smile:

[2015-08-18 00:13] YujiXcast commented on #9
Thanks, Josh! :smile:

[2015-08-18 11:49] jdantzler commented on #9
@alohaug Original PuTTY-CAC (Pageant) 0.65:  https://github.com/jdantzler/putty-cac/blob/master/executables/pageant.exe?raw=true

This version includes the auto load CAPI key fix.

[2015-08-18 23:47] alohaug commented on #9
@jdantzler Yeah, I confirm it works well, again.

[2015-08-24 16:26] jbjonesjr commented on #6
@markhorka **OLD THREAD REVIVAL ALERT**
I use pkcs15-tool as guidance for this:
It supports:
--list-public-keys : lists all the keys in a text based way, providing basic details
--read-public-key <arg> : displays the complete public key for the arg/option passed in.  you can see the different options via list.
--rest-ssh-ley <arg> : instead of listing the key, list the "ssh-compatible" version of

[2015-08-24 16:33] jbjonesjr commented on #15
Answering sort of my own question, looks like support is reported for:
* Litronics NetSign
* ActivClient CAC
* Alladin eToken Pro
* SafeSign

However, these are only used by the PKCS#11 interface, which **is scheduled to be removed** in a future update.

[2015-08-24 16:35] jbjonesjr commented on #15
Per my list above, and the planned depredation, I'm going to mark this as closed.  In the future if MiddleWare is supported, i'd suggest adding this to the README.md or docs somewhere within the repo, not just on the website.

[2015-08-24 16:35] #15 closed

[2015-08-24 17:48] jbjonesjr opened #18 "CAPI support not working from latest(0.65) Putty"
this is really a @jdantzler problem, but affects www.risacher.org since it is currently hosting it.

**Problem:** Using CAPI authentication from latest Putty doesn't attempt to send key (tested with all three flavors, downloaded Aug 22 or later from risacher.org/putty-cac).  Adding it into pagent works. This worked in the 0.62 version.

#### Reproduce:
* Ensure no cert available in Pagent
* Launch

[2015-08-24 17:49] jbjonesjr commented on #18
As should be apparent, i've added my Smart Card ssh key into my github account.  The "Success" section confirms that this was done correctly.

[2015-08-25 18:44] jdantzler commented on #18
I can reproduce this issue as well when using putty instead of pageant for authentication.  For now continue to use pageant until this is fixed.  I will look and see if I can find and fix the issue when I get a chance.  Thanks for reporting this.

[2015-08-25 19:12] jbjonesjr commented on #18
Happy to help.

[2015-09-30 14:10] risacher commented on #18
@jbjonesjr Can you retest with the current executables in https://risacher.org/putty-cac/testing/Release/ or in the /executables folder in my repo?  I thin this is fixed.

[2015-09-30 14:15] risacher commented on #8
For what it's worth, PKCS#11 support might still be useful to someone...    It would certainly be useful to folks who want to use PuTTY-CAC on non-windows platforms.  I've had at least one request for this.

Either way, closing this issue.

[2015-09-30 14:15] #8 closed

[2015-09-30 14:17] risacher commented on #10
Since the PKCS#11 support has been removed from the most recent version of PuTTY-CAC, I'm closing this issue.

[2015-09-30 14:17] #10 closed

[2015-09-30 14:28] jbjonesjr commented on #18
@risacher Yes I can. End of FY means I'm currently awaiting an updated CAC card, so may be a few days/weeks (yeh Government!), but will get it as soon as my CAC is back.

[2015-11-11 22:26] jotpe opened #19 "putty 0.66"
New upstream version with a security fix available.

[2015-11-19 14:08] giesberge opened #20 "Artemis Virus Scan False Positives?"
I'm getting Artemis Trojan results for .65 plink, pscp, psftp exes. I assume these are false positives. I believe our current plan here is to submit the files to McAfee for review. Is anyone else getting the same results?

[2015-11-20 08:53] IMAI-Yuji commented on #20
We got a warning that pscp is Trojan.Gen.2 detected by Symantec Endpoint Protection on 10th Nov. We submitted query for symantec. Then it was verified not a virus and they append pscp into the whitelist, on 11th Nov.

[2015-11-20 17:31] giesberge commented on #20
Do you have a screenshot or email you wouldn't mind attaching here?
ETA for McAfee is 4-5 days. Will post results once received.

[2015-11-25 01:09] IMAI-Yuji commented on #20
Here is the reply from symantec for our false positive submission. (including Japanese)

[code]

And here follows the reply that they verified it was false positive.

[code]

[2015-11-25 01:27] alohaug commented on #9
Knock, knock.

Do we still have problems with this issue? It seems @McSlow  or @risacher can close.

[2015-11-26 21:02] McSlow commented on #9
Hi, thanks a lot, works here too - thanks for the fix.

[2015-11-26 21:02] #9 closed

[2015-11-26 23:59] IMAI-Yuji commented on #9
:thumbsup:

[2015-11-27 00:01] alohaug commented on #9
:thumbsup:

[2015-11-30 04:05] teridon opened #21 "Google Chrome reports site as "Dangerous""
When I visit risacher.org, Google Chrome reports that the site is harmful.

see  [this report](https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html?hl=en-US#url=https://www.risacher.org/putty-cac/)

The "status" of the site is: "Dangerous:  www.risacher.org/putty-cac contains harmful programs."

[2015-12-14 21:00] giesberge commented on #20
Thanks @IMAI-Yuji . McAfee is taking a long time. I just started using the official plink, pscp, psftp distributions from the putty site and they seem to be clearing just fine. Closing this for now

[2015-12-14 21:00] #20 closed

[2015-12-29 17:57] risacher commented on #19
Should be fixed by branch "0.66-sync".  Will merge into master after I get some feedback that it works.

[2015-12-30 13:38] risacher commented on #18
Closing issue.  This is fixed.

[2015-12-30 13:38] #18 closed

[2015-12-30 13:40] risacher commented on #21
Deleted old versions and asked google to rescan.  Google's security console said "Unspecified malware" and listed zero offending links.  Grr.

[2015-12-30 13:40] #21 closed

[2015-12-30 13:41] risacher commented on #4
OBE now that PKCS11 support is removed.

[2015-12-30 13:41] #4 closed

[2015-12-30 13:41] risacher commented on #3
OBE now that PKCS11 support is removed.

[2015-12-30 13:41] #3 closed

[2015-12-30 14:57] jbjonesjr commented on #18
sorry for the delay @risacher , i'm currently awaiting a cac renewal.
#contractorLife #CACexpiresAsSoonAsIGetIt

[2015-12-31 10:40] risacher commented on #14
According to http://ssh-comparison.quendi.de/impls/putty.html, putty supports hmac-sha2-256

[2015-12-31 17:59] risacher commented on #18
@jbjonesjr When you get it - test the 0.66-sync branch and let me know how it turns out.

[2016-01-04 06:47] IMAI-Yuji commented on #19
I checked they works fine in following use-cases.

Target: https://github.com/risacher/putty-cac/tree/0.66-sync/executables
Environment: Windows 7 (64bit)

* putty.exe
 * SSH login with my PKCS-11 by CAPI.
* pageant.exe
 * putty, teraterm, winscp
 * agent forwarding with ssh(1), git(1)
 * Execute with a fingerprint argument while booting up Windows.

[2016-01-04 07:56] IMAI-Yuji commented on #14
Checking putty event log, Putty-CAC selects hmac-sha2-256 between OpenSSH6.7p1 Debian-5.

![putty-negotiation](https://cloud.githubusercontent.com/assets/1840560/12085401/2968808c-b303-11e5-82a0-58d38a706df6.png)

[2016-01-04 16:38] risacher commented on #14
@IMAI-Yuji Thank you.

[2016-01-04 16:38] #14 closed

[2016-01-04 23:54] IMAI-Yuji commented on #17
On my environment, it doesn't happen with a pagent 0.66-sync ( https://github.com/risacher/putty-cac/tree/0.66-sync/executables/pageant.exe?raw=true ). Does it still crashed, @LordMike ?

[2016-01-05 01:32] IMAI-Yuji opened #22 "PKCS11 description remained on the site"
As PKCS11 support is about terminating at 0.66-sync, PKCS11 related parts are better removing from a site https://www.risacher.org/putty-cac/ .

[2016-01-05 19:11] LordMike commented on #17
I have been unable to reproduce it since. Both in the past versions and the current.

[2016-01-05 19:11] #17 closed

[2016-01-06 00:18] IMAI-Yuji commented on #17
Glad to hear it. :four_leaf_clover:

[2016-03-09 14:54] giesberge opened #24 "Putty 0.67 Windows Pageant doesn't have Add CAPI Cert"
@jdantzler Just started up the windows executable version of pageant and there's only the Add Key and Remove Key buttons. Add CAPI Cert is not there

[2016-03-09 15:07] jdantzler commented on #24
Try the latest one now please.  It should be fixed.  Thanks.

[2016-03-09 15:12] giesberge commented on #24
Fixed, thank you

[2016-03-09 15:12] #24 closed

[2016-03-20 22:23] giesberge opened #25 "Windows 10 Compatibility"
Can't seem to get it to run successfully in Windows 10, official upstream works fine though. This might be more of an issue since I think they're trying to convert everyone over to Windows 10 soonish.

[2016-03-22 11:40] jdantzler commented on #25
I have it running fine with CAPI support on Windows 10.  I have tested version 0.67, 0.66, and 0.65 and all seem to work on my end.  I haven't noticed any issues thus far.  Can you please describe in more detail what the problem is and the steps to reproduce the issue?  Thanks.

[2016-03-22 13:43] giesberge commented on #25
Can't replicate it, I think it was something weird with how I was downloading it from Github, seems to be working fine.

[2016-03-22 13:43] #25 closed

[2016-03-27 20:51] Ocup opened #26 "PKCS#11 support"
as stated [here](https://risacher.org/putty-cac/)
i would request PKCS11 support for the latest version and compile with latest visual studio and keep Windows XP compatibility.
I currently use [putty-vx4-bin](http://blog.vx4.de/~ck/blog/articles/128/putty-vx4-bin) but bin are outdated.
Or make available older release putty-CAC 0.62 with pkcs#11 support and Windows XP compatibility.

[2016-04-01 11:16] jdantzler commented on #26
The older version of PuTTY-CAC 0.62 does support PKCS#11 and I believe it will work with XP, but not 100% sure.  I have uploaded the older version below.  I hope this helps.

[PuTTY-CAC 0.62.zip](https://github.com/risacher/putty-cac/files/199471/PuTTY-CAC.0.62.zip)

[2016-04-25 11:28] peted2 opened #27 "Pageant not answering challenge correct the first time"
Versions in use:
OS Windows 7
Putty-cac 0.66
pageant 0.67

Issue:
I have modified the Shortcut to pageant.exe, in order to load my capi cert at program startup.
Capi cert is added to pageant as expected.
But the first time i use putty in order to connect to a PKI secured server putty fails with a "Fatal Error" and states: "Pageant failed to answer challenge"
I dismiss the Error and just "refresh"

[2016-04-26 07:46] IMAI-Yuji commented on #27
Hi, @peted2

Let us be clear where you got binaries putty-cac 0.66 and pagent 0.67 from.

@risacher released 0.66 as follows.
  * putty-cac https://github.com/risacher/putty-cac/blob/0.66-sync/executables/putty.exe?raw=true
  * pageant-cac https://github.com/risacher/putty-cac/tree/0.66-sync/executables/pageant.exe?raw=true

@jdantzler issued a pull request( Pull #23 ) to sync 0.67. It is not merg

[2016-04-27 05:39] peted2 commented on #27
Hi

I have now changed my setup to risacher releases v.0.66 for putty and pageant.
the error persists.

As this is a issue for risachers "fork" i'll just mention that the error also persists with @jdantzler versions.

[2016-04-27 05:42] peted2 commented on #27
Hi @IMAI-Yuji

i have changed my steup to @risacher releases.
The error still persists.

also with @jdantzler versions the error is reproducable.

[2016-04-27 06:58] IMAI-Yuji commented on #27
You tried Risacher's and Dantzler's, but neither worked. Hmmm.

Then, let's try to share the Event logs before "refresh" the session with Fatal Error, shall we.
After you dismiss the "Fatal Error" windows, press right mouse button on top side bar of putty window. You will see pull-down menu and find "Event log". Pressing the item, "Putty Event Log" dialog will appear and describe what's happen.

H

[2016-04-27 07:10] peted2 commented on #27
2016-04-27 09:06:53	Looking up host "adminserver11"
2016-04-27 09:06:53	Connecting to xxx.xxx.xxx.xxx port 22
2016-04-27 09:06:53	Server version: SSH-2.0-OpenSSH_6.6
2016-04-27 09:06:53	We believe remote version has SSH-2 channel request bug
2016-04-27 09:06:53	Using SSH protocol version 2
2016-04-27 09:06:53	We claim version: SSH-2.0-PuTTY_Release_0.66
2016-04-27 09:06:53	Doing Diffie-Hellman gro

[2016-04-27 07:40] IMAI-Yuji commented on #27
Your putty looks using also CAPI(User\My\MYKEY) directly, not only using pageant.
Does it match with your card cert? As a cert of your card was already registered on pageant, you don't need to select "Attempt CAPI Certificate" on putty by itself, I think.

Could you try again disabling CAPI by putty, while selecting pageant authentication.

[2016-04-27 07:58] peted2 commented on #27
Yep both CAPI Certs are identical.

I have disabled Attempt CAPI Cert in Putty and the error persists.
As mentioned earlier, the error happens just the first time after Pageant Startup.
From there on everything works like a charm.

[2016-04-27 08:18] IMAI-Yuji commented on #27
Hmmm.

Just as an example, here follows my event log.

2016-04-27 17:07:42	Connecting to 10.25.XXX.XXX port 22
2016-04-27 17:07:42	We claim version: SSH-2.0-PuTTY_Release_0.67
2016-04-27 17:07:42	Server version: SSH-2.0-OpenSSH_6.7p1 Debian-5+deb8u2
2016-04-27 17:07:42	Using SSH protocol version 2
2016-04-27 17:07:42	Doing Diffie-Hellman group exchange
2016-04-27 17:07:43	Doing Diffie-Hellman key

[2016-04-27 08:23] peted2 commented on #27
yep.

first i start pageant with the following option:
C:\tmp\pageant_risacher.exe CAPI:User\MY\MYKEY

then i start putty and select my desired destiantion (Option connection->ssh->CAPI"Attempt CAPI Certificate" DISABLED

Select "OPEN"
then putty quits the session with the mentioned error.
immediately i select "Refresh Session" then i get prompted the windows Security Window for my PIN and connect

[2016-04-27 08:51] IMAI-Yuji commented on #27
One difference.

I use different way to give cert. Instead of "CAPI:User\MY\MYKEY", I append "CAPI:User\MY\(capitlized-fingerprint)", "Capitalized-fingerprint" is like B63A93D76928C... in figure http://risacher.org/putty-cac/putty-capi-config.png . It also appears at last of SSH public key string as a comment.

Hope this help...

[2016-04-27 08:53] peted2 commented on #27
well as i am very security aware, i just replaced that String in teh forum post with "MYKEY" ;)
I my setup there is in fact that long string.

[2016-05-17 16:25] sumit-bose opened #28 "putty-cac and OpenSSH"
Hi,

I'm trying to connect with putty-cac to a OpenSSH server. For some certificates it is working as expected but for some it fails with messages like

`May 17 17:14:07 sssd-devel sshd[651]: error: buffer_get_bignum2_ret: negative numbers not supported [preauth]`

It looks like putty-cac and OpenSSH's ssh-keygen generate slightly different public keys:

putty-cac:
echo -n AAAAB3NzaC1yc2EAAAAEsSwz

[2016-06-17 12:39] thywyn opened #29 "SHA checksums for the executables"
Would like to have checksums (SHA1 or SHA256 preferably) for the binary downloads.

[2016-07-01 19:58] cristivulpe opened #30 "multiple certificates on the same card"
I have a card that holds more certificates. The issue I have is that the CAPI menu (presented on the "CAPI configuration" section of the home page) allows me to select only one. Is it any way that I can get more of those certificates (maybe there is a filtering by a certain attribute)?

[2016-07-06 12:14] jdantzler commented on #30
You can use pageant instead as it allows more then one CAPI cert.  Right now the current version of PuTTY only allows one CAPI cert.

[2016-08-18 21:26] bikb opened #32 "secure pinpad entry"
Hello,

is it possible to enter the pin via external pinpad on the smartcard reader?

[2016-09-26 19:24] bikb commented on #32
I have a setup on windows where it works. The application putty cac must not be changed. If someone is interested I can recommend a great free middleware for a german provider of smartcards.

[2016-09-26 19:24] #32 closed

[2017-01-13 10:22] wen1991 opened #33 "hi, may couse some bad results"
in sshsh512.c
-uint64 wordblock[16];
+uint64 wordblock[16]={0};

and in SHA512_myINIT
+for(i=0;i<128;i++)
+  	s->block[i] = 0;

i test this case for sha512, but i found my result would be changed when i run it again

[2017-01-27 15:18] k3it opened #34 "unknown publisher warning"
Our company's group policy is not letting us suppress the Unknown Publisher windows warning when launching programs from this repository.  Is there a  workaround or a possible to download "signed" windows executables?

[2017-02-02 20:02] LinuxSneaker opened #35 "Unable to load private key over CITRIX session"
I am able to use the latest version of putty-cac on a physical system with our Linux servers, but when I connect to my organizations CITRIX portal onto a virtual Windows 7 system it does not.

I can configure on the virtual desktop putty-cac's CAPI setting with no problem, and it sees the certificates on the card successfully.  The ssh-key is the same as if it was the physical box.  However, when

[2017-02-03 17:28] LinuxSneaker commented on #35
Here is the cleaded-up log:
2017-02-03 12:20:56	Looking up host "X.X.X.X"
2017-02-03 12:20:56	Connecting to X.X.X.X port 22
2017-02-03 12:20:56	We claim version: SSH-2.0-PuTTY_Release_0.66
2017-02-03 12:20:56	Server version: SSH-2.0-OpenSSH_5.3
2017-02-03 12:20:56	We believe remote version has SSH-2 channel request bug
2017-02-03 12:20:56	Using SSH protocol version 2
2017-02-03 12:20:56	Doing Diff

[2017-02-07 20:17] k3it opened #36 "sync with putty 0.68"
these features are new in 0.68 (released 2017-02-21):

Security fix: an integer overflow bug in the agent forwarding code. See vuln-agent-fwd-overflow.
Security fix: the Windows PuTTY binaries should no longer be vulnerable to hijacking by specially named DLLs in the same directory (on versions of Windows where they previously were). See vuln-indirect-dll-hijack.
Windows PuTTY no longer sets a res

[2017-02-24 17:39] k3it commented on #36
@jdantzler I see your .67 pull request .  Can you please describe the procedure you used for syncing putty-cac with the main putty source code? I'd like to stay current but not sure how to properly merge

[2017-03-05 17:58] k3it commented on #36
@jdantzler  @risacher  I  spent some hours trying to understand what needs to be done.   it looks like the code in the official putty 0.68 was refactored, numerous diffs with the 0.67 version.  the pageant code is now split between winpgnt.c and pageant.c (the unix version of the agent).  functions/structures have been renamed/rewritten also,  e.g. in ssh.c.  it does not seem trivial to sync the C

[2017-03-14 18:18] NoMoreFood commented on #36
@k3it Sensing that Daniel may not have the time to maintain this (based on the lack of attention to Josh's pull request), I created my own release based on 0.68 that also includes Josh's enhancements.  You can find the release at the link below.  Since we're not asking Simon to commit this upstream, I didn't go out of my way to avoid modifying the code in the root directory.  I forked my release f

[2017-03-15 02:02] NoMoreFood commented on #27
I believe I found a problem that might explain some random weirdness with key lookups.  The comparison method that was being used for insertion of CAPI keys into an internal 2-3-4 tree was not resulting in a searchable tree.  Please let me know if anyone is still seeing issues and is willing to test.

[2017-03-15 13:38] k3it commented on #36
@NoMoreFood thanks for looking at this.  I see a couple of issues. will document  under your repository

[2017-03-19 22:08] #36 closed

[2017-03-19 22:10] k3it commented on #34
can be fixed by signing the executable with own PIV and Miscrosoft Sign Tool https://msdn.microsoft.com/en-us/library/8s9b9yaz(v=vs.80).aspx

[2017-03-19 22:10] #34 closed

[2017-03-20 23:39] NoMoreFood commented on #27
@peted2 Can you test against the release in my fork and close this out if it's no longer an issue?

[2017-03-21 23:28] NoMoreFood commented on #35
@LinuxSneaker, are you sure that the virtual desktop has connectivity back to the smart card reader and the card?  Device routing is a peril of virtual desktop infrastructures.  It's one thing to see the certificates, but it's another for the smart card subsystem to be working.  One way to potentially tell is to run something like Remote Desktop on the virtual desktop guest and see if it allows yo

[2017-03-21 23:32] NoMoreFood commented on #33
@wen1991 I haven't dove into the PuTTY code to validate your concern, but if this is a problem then it's in the upstream PuTTY code, not PuTTY-CAC.  Please reach out to their maintainers of PuTTY and if they made this modification, then we'll incorporate it into PuTTY-CAC.   You can find more information here:  http://www.chiark.greenend.org.uk/~sgtatham/putty/

[2017-03-21 23:35] NoMoreFood commented on #28
@sumit-bose Can you validate this is still a problem with the PuTTY 0.68 Update 1 release?  If so, can you possibly email me your sshd_config file and the version of SSH server you are using?

[2017-03-22 13:55] LinuxSneaker commented on #35
The new release fixes this issue.  I have tested putty, and now will continue to test the rest of the suite.

Fantastic!  Thanks so much!

[2017-03-23 11:03] NoMoreFood commented on #29
@thywyn I'm awaiting a code signing certificate so I'll publish SHA256 / MD5 hashes once I release a signed version.  Probably a week or two.

[2017-03-23 22:32] #35 closed

[2017-03-23 22:42] #19 closed

[2017-03-29 10:22] NoMoreFood commented on #29
The repository now contains a list of all hashes for the binaries in SHA1, SHA256, and MD5.
 You can find it here: https://github.com/NoMoreFood/putty-cac/blob/master/binaries/puttycac-hash.txt.
 I'll reference that list in the next official release note.

[2017-03-29 10:22] #29 closed

[2017-03-30 10:44] NoMoreFood commented on #27
Based on feedback through other avenues and lack of feedback from the original poster, closing out this issue.

[2017-03-30 10:44] #27 closed

[2017-03-30 10:53] peted2 commented on #27
sorry for the delay.
I cannot reproducec the issue anymore.

[2017-03-30 10:56] NoMoreFood commented on #27
Excellent.  Thank you for following up.

[2017-04-06 17:03] maphykay opened #39 "pageant no longer working after KB4013429"
This latest round of windows patches appears to have had an adverse affect on pageant.  Tested with .63 and .66, and with rolling back windows patches to resume functionality.

with KB4013429 (this was a March "Patch-Tuesday" Bundle) installed, you are prompted for your PIN on /every/ connection, both new sessions using putty-cac and remote sessions using agent forwarding.

[2017-04-11 22:51] NoMoreFood commented on #30
Closing this one out.  Josh is right - the right way to do this is with pageant.  PuTTY (without pageant) is similarly limited in that it only allows you to specify one key.  That said, I did seriously consider this.  The GUI changes would be easy but the main authentication function in the code would have to be modified significantly to loop through multiple keys and we're trying to keep deltas o

[2017-04-11 22:51] #30 closed

[2017-04-13 23:02] NoMoreFood commented on #39
Can anyone corroborate this?  @maphykay Can you reproduce the issue with the 0.68 release?  Do you know if the creators update suffers from the same issue?

[2017-04-14 00:19] LinuxSneaker opened #40 "In CITRIX, putty-cac does not reopen certificates"
I am running Release_0.68_1, which works when I am connected through CITRIX (for which I am very grateful).  However, there is an issue after being connected for a while.  At some point, putty-cac fails to connect to systems, and you get a "CAPI failed to sign data".  A work around is to go to another app (e.g. ActivClient Agent), and do something that requires the user to input the PIN, such as l

[2017-04-14 00:36] maphykay commented on #39
I can reproduce this with .68 and .63 of putty-cac.   Several people in my
org are affected.   One is only using pageant-cac but using a different SSH
client altogether.

The original version of pageant doesn't support private keys on smart card,
so I cannot test.

Also verified it was not the smart card: I have no issues when exported to
a Linux VM using openssh

On Apr 13, 2017 4:02 PM, "Bryan B

[2017-04-14 10:47] NoMoreFood commented on #39
@maphykay Thanks for confirming the issue with 0.68.  I apologize for my lack of clarity in my other question.  By 'creators update', I meant Windows 10 Version 1703 which was released in the last week or so.  It sounds like KB4013429 is causing issues for all sorts of applications, but I don't think it is applicable to Windows 10 Version 1703.  Just trying to scope the problem...

[2017-04-14 13:28] jdantzler commented on #39
I have the KB4013429 update and I am still on Windows 10 Version 1607.  Pageant is working for me, but it does prompt for a PIN everytime.  However, I think I have a separate PIN caching issue not related to pageant.

[2017-04-17 11:36] NoMoreFood commented on #39
@jdantzler Yeah, same here --- one of the three certs of my CAC has doesn't support PIN caching for whatever reason.  I have the Windows 10 creators update as all is still working well.  We'll have to see if anybody else chimes in on this issue.

[2017-04-17 11:38] NoMoreFood commented on #26
@Ocup If still interested, please see this conversation.  https://github.com/NoMoreFood/putty-cac/issues/1.

[2017-04-18 09:08] anteploon commented on #39
The PIN not being cached is an issue in the company I work for.
We have some people on the Anniversary-update and some on the Creators-update - all suffering.

[2017-04-18 11:15] NoMoreFood commented on #39
@maphykay Which sort of tokens do you use?

@maphykay and @anteploon Do either of you guys use device security software that could be contributing to the issue?

There's really nothing special that Pageant does with PIN caching.  The Windows CAPI subsystem simply asks for a PIN whenever it *needs* it to perform secure operations -- Pageant doesn't actually call that dialog box.  Depending on the m

[2017-04-18 13:13] maphykay commented on #39
Our tokens are PKCS11 on YubiKey nano.  Don't have anyone on the creators
update... All our users are stock Win 10.  Regular PuTTY keypairs are
cached normally... Only CAPI seems to be effected.

On Apr 18, 2017 4:15 AM, "Bryan Berns" <notifications@github.com> wrote:

@maphykay <https://github.com/maphykay> Which sort of tokens do you use?

@maphykay <https://github.com/maphykay> and @anteploon
<

[2017-04-18 23:35] NoMoreFood commented on #39
@maphykay   Thanks for confirming.  If this goes beyond the May set of patches, I'll consider adding in an optional, PuTTY-implemented caching mechanism using something like CryptProtectMemory().  Please keep us updated if the behavior changes.

[2017-04-20 01:19] NoMoreFood commented on #12
These changes have made their way into PuTTY CAC 0.68 Update 2 Pre-Release.  Closing this out.  If you have any problems with the pre-release, please create a new issue.

[2017-04-20 01:19] #12 closed

[2017-04-20 01:19] NoMoreFood commented on #26
These changes have made their way into PuTTY CAC 0.68 Update 2 Pre-Release.  Closing this out.  If you have any problems with the pre-release, please create a new issue.

[2017-04-20 01:19] #26 closed

[2017-04-20 01:21] NoMoreFood commented on #28
@sumit-bose Due to the lack of response, I'm going to close this out.  If you want to continue to investigate this, please ensure the problem still exists in PuTTY CAC 0.68 Update 2 Pre-Release and then we can reopen or create a new issue.

[2017-04-20 01:21] #28 closed

[2017-04-20 01:24] NoMoreFood commented on #40
@LinuxSneaker Before I think about this too hard, can you please confirm the issue still exists in exists in PuTTY CAC 0.68 Update 2 Pre-Release.

[2017-04-20 01:26] NoMoreFood commented on #11
Closing again.  Looks like a mistaken reference to this via PKCS reopened this.

[2017-04-20 01:26] #11 closed

[2017-04-21 20:58] maphykay commented on #39
Still experiencing the same behavior after the April bundle of patches --
the Windows Security Smart Card popup still asks for a PIN on /every/
authentication

On Tue, Apr 18, 2017 at 4:35 PM, Bryan Berns <notifications@github.com>
wrote:

--
--Matt Bixby
馬鹿に着ける薬は無い.
Baka ni tsukeru kusuri wa nai.
There is no medication to cure stupidity.

[2017-04-22 15:08] NoMoreFood commented on #1
@dpksfnt I've been cleaning up old issues.   Is there anything that still needs to be worked for this issue?

[2017-05-02 23:38] NoMoreFood commented on #40
@LinuxSneaker Any update?

[2017-05-02 23:41] LinuxSneaker commented on #40
I am trying to get the executable onto the system in question....I should know if the issue is fixed in your latest release this week.  Thank you for keeping track of this!

[2017-05-04 00:50] LinuxSneaker commented on #40
The problem is worst in the newest release, as I cannot log onto the same system that worked with previous prerelease version.  I even tried copying the ssh key from the new version and pasting it onto the server, but it didn't work.  Repeatedly, 0.68_1 works, 0.69 doesn't.   Here are the two logs:

2017-05-03 20:36:39	Connecting to x.x.x.x port 22
2017-05-03 20:36:39	We claim version: SSH-2.0-PuT

[2017-05-04 10:17] NoMoreFood commented on #40
@LinuxSneaker Alright, thanks for testing.  I'll try to figure out what's going on with this -- looks like the new version isn't signing properly.  Does the PIN prompt to come up?

[2017-05-04 10:41] NoMoreFood commented on #40
@LinuxSneaker Also, what OS are you running on the client?

[2017-05-04 12:07] LinuxSneaker commented on #40
No, I am not prompted for a PIN.  The client at the end of the Citrix session is Windows 7 Enterprise, and I am trying to connect to RHEL6 with putty-cac.

[2017-05-04 15:52] NoMoreFood commented on #40
@LinuxSneaker   Alright, thanks for the information.  That helps isolate where in the code the problem is occurring.  I'll post a version with additional logging enabled by tomorrow to help us track this down.

[2017-05-05 04:22] NoMoreFood commented on #40
@LinuxSneaker If you could give the attached version a try and let me know if you get an additional popup error message when connecting, I'd appreciate it.

[puttycac-0.69-debug.zip](https://github.com/risacher/putty-cac/files/978098/puttycac-0.69-debug.zip)

[2017-05-11 07:56] dinhngtu commented on #39
Just installed the May patches, and unfortunately it didn't fix the problem.

[2017-05-12 11:33] anteploon commented on #39
I also use Estonian ID-card (also PKCS11), and it has a same issue - PIN not cached. Meaning this is not strictly yubikey-only issue.

[2017-05-12 22:27] NoMoreFood commented on #33
Per previous comment, there is no action for us here to closing this issue.

[2017-05-12 22:27] #33 closed

[2017-05-12 22:31] NoMoreFood commented on #39
@anteploon @dinhngtu @maphykay.  Alright, I'll add an option to pageant to implement a process-level PIN caching algorithm with in-memory encryption.   While I work on that, I'd appreciate if you guys could do a favor for me and verify this version (https://github.com/risacher/putty-cac/files/979008/puttycac-0.69-newlookup.zip) doesn't have any *new* issues, I'd apprecate it.

[2017-05-14 11:00] NoMoreFood commented on #39
@anteploon @dinhngtu @maphykay.   I've implemented a test version with a 'Force PIN Caching' option that'll show up in the Pageant system tray.  Once enabled, it will cache the PIN on a per-certificate basis until Pageant is closed.  It does this by using storing the PIN in an internal linked list that is protected by using CryptProtectMemory (which prevents remote processes from reading the memor

[2017-05-14 17:03] dinhngtu commented on #39
Thanks a lot for the work, I really appreciate it.

If possible, could you post a patch for the option?

[2017-05-14 17:15] NoMoreFood commented on #39
I'll commit it to github once I hear back that it works from a few folks as designed.  I've got some debug code in there (just in case there are issues) that I want to remove before committing it to the official repository.  If you'd like me to post the current source here, temporarily, I can do that if you'd like.

[2017-05-15 10:50] dinhngtu commented on #39
The current source would be nice, since I prefer building my own tools.

[2017-05-15 11:01] NoMoreFood commented on #39
@dinhngtu I can respect that.  Link to binaries with the source is below.

[puttycac-0.69-pincache-src.zip](https://github.com/risacher/putty-cac/files/1000861/puttycac-0.69-pincache-src.zip)

[2017-05-15 17:01] maphykay commented on #39
Thank you for the release.

I have a couple of people testing this internally, but my own initial tests
do not look good.

I attached a doc with some screenshots.

I get challenged by pageant for the pin... but that apparently does not get
passed on to the windows security system.

on first connection I get double-prompted.  1 by putty, 1 by windows.  On
all subsequent connections I get 1 challeng

[2017-05-15 17:55] NoMoreFood commented on #39
@maphykay   Thanks for testing.  I will look into this tonight -- definitely is concerning.  Yeah, the behavior you're seeing would occur if the proactively-entered "cached" PIN is being ignored or rejected by Windows.  It's possible we need to explicitly tell the CSP to not do GUI in order for it to take --- although that's not required on my machine for some reason.  Is your cert an RSA cert?

[2017-05-15 18:42] maphykay commented on #39
rsa 2048.

On Mon, May 15, 2017 at 10:55 AM, Bryan Berns <notifications@github.com>
wrote:

--
--Matt Bixby
馬鹿に着ける薬は無い.
Baka ni tsukeru kusuri wa nai.
There is no medication to cure stupidity.

[2017-05-16 01:24] NoMoreFood commented on #39
@maphykay  Can you try the version below?  Nothing has been to fix the problem, but I want to see if CryptSetProvParam() returns an error.  A new popup box should be displayed, if so.

[puttycac-0.69-pincache-src-rev2.zip](https://github.com/risacher/putty-cac/files/1002911/puttycac-0.69-pincache-src-rev2.zip)

[2017-05-16 06:44] dinhngtu commented on #39
At cert_capi.c:63, this line:

`(szPin = cert_pin(userkey->comment, FALSE, NULL, hWnd)) == NULL)`

should be:

`(szPin = cert_pin(userkey->comment, FALSE, NULL, hWnd)) != NULL)`

With this change the PIN caching seems to work.

[2017-05-16 07:08] NoMoreFood commented on #39
Nice!  Sometimes it really helps to have another set of eyes (and a reproducible test case)!  Let me recompile and post an update to 0.69 on the website.

[2017-05-16 07:49] NoMoreFood commented on #39
@anteploon @dinhngtu @maphykay.  Please try the latest published binaries.  The source has also been updated.

https://github.com/NoMoreFood/putty-cac/releases/tag/0.69

[2017-05-16 07:56] NoMoreFood commented on #1
I have tested the new PKCS #11 code with ActivClient and it seems to work fine.  Instead of depending on labels, the new code looks up the public key based on the public key modulus which are common between the certificate and the public key object.  It then uses the ID in the public key object to find the private key object.

[2017-05-16 07:56] #1 closed

[2017-05-16 17:17] maphykay commented on #39
Thank you!

This version seems to be working much better on my initial testing.  I will
have others within my organization test it out as well, but my initialt
testing shows that multi-hop ssh connections with agent-forwarding work
successfully without multiple pop-ups for the pin.

On Tue, May 16, 2017 at 12:49 AM, Bryan Berns <notifications@github.com>
wrote:

--
--Matt Bixby
馬鹿に着ける薬は無い.
Baka ni

[2017-05-17 01:08] brycollins commented on #39
This is great, thanks very much, the caching problem was most annoying.

Is there any chance we could have a timed Cache Expire option?
Perhaps via a registry key we can control via Group Policy?

The only other functional difference is that with OS PIN Caching, if you tried to authenticate with the card unplugged, and then insert it, you were prompted for your PIN again.

Thanks

[2017-05-17 01:44] NoMoreFood commented on #39
@brycollins I can look into additions like that but it won't be until I publish the "official" 0.69 release since I know folks are waiting on that.  Honestly, I don't want to go too overboard with implementing complex workarounds to a problem Microsoft or the hardware key minidriver vendor ought to be fixing.

@dinhngtu Since I know you have a capable compiler, would it be possible to see if exiti

[2017-05-17 04:00] maphykay commented on #39
Bryan,

My initial testing shows this to be working.   I will have others within my
organization test it out as well, and I expect feedback from them
tomorrow.  My testing showed that multi-hop ssh connections with
agent-forwarding work successfully without multiple pop-ups for the pin.
Authentication correctly failed when the card was not plugged in (which,
since that's where the private key is,

[2017-05-17 09:14] dinhngtu commented on #39
@NoMoreFood Unfortunately, this does not fix the PIN caching problem. Incidentally, this problem also happens when using smartcard certificates with other programs, e.g. OpenVPN.

[2017-05-17 10:52] NoMoreFood commented on #39
@dinhngtu Damn, thanks for trying.  Guess we'll have to hope somebody with the appropriate support contracts chases it down with Microsoft at some point.

[2017-05-19 00:17] NoMoreFood commented on #39
@anteploon @dinhngtu @maphykay   If any of you guys could confirm the latest pre-release works for you (or not), I'd appreciate it.  I had marked it as released, but I had a report of CAPI certs not working in general in Pageant -- which I cannot reproduce.  Just wondering if anyone else sees an issue.  Thanks!

[2017-05-19 02:01] dinhngtu commented on #39
Works for me. Is it possible to give the PIN entry dialog a taskbar button? The dialog can't steal focus on my PC for some reason.

[2017-05-19 03:31] maphykay commented on #39
Sorry.  Swamped at work, so haven't been keeping up.

I do have several people in my office using the prerelease and it is
working for them.  I will reply in the morning with the build number.
I have tried 2 releases -- the first had the = / != mixup in the code that
dinhngtu found, the second worked beautifully.

i thought I had replied to the thread but it apparently got lost.
Will reply in the

[2017-05-19 09:44] NoMoreFood commented on #39
@dinhngtu I can look into it.  Is that focus issue new?  I tried to put some code in there to help with random focus issue but maybe it hurt more than helped.

[2017-05-19 09:55] dinhngtu commented on #39
The focus issue also seems to come after a Windows update. IMO adding a taskbar button would be enough.

[2017-05-19 09:59] NoMoreFood commented on #39
Oh okay.  I just wanted to make sure the code I added [here](https://github.com/risacher/putty-cac/commit/1e7c5cb3ea88de23ce7874b8a2f1615e7de57e0a#diff-1ecc750a935ac1b51c3894bee3b935d1) didn't break anything.  It definitely seemed to help on Windows 7.

[2017-05-19 14:07] LinuxSneaker commented on #40
Verified ssh key on server, and made sure the certificate was loaded.  Here is the log:
2017-05-19 09:57:32	Connecting to 10.1.1.162 port 22
2017-05-19 09:57:32	We claim version: SSH-2.0-PuTTY_Release_0.69
2017-05-19 09:57:32	Server version: SSH-2.0-OpenSSH_5.3
2017-05-19 09:57:32	We believe remote version has SSH-2 channel request bug
2017-05-19 09:57:32	Using SSH protocol version 2
2017-05-19 09

[2017-05-19 14:55] dinhngtu commented on #39
It helps for me too, thanks.

[2017-05-19 23:03] NoMoreFood commented on #39
I confused the reported issue was false positive.  PuTTY CAC 0.69 is officially released so I'm closing this out.

[2017-05-19 23:03] #39 closed

[2017-05-20 01:12] NoMoreFood commented on #22
PKCS11 functionality has been re-added.

[2017-05-20 01:12] #22 closed

[2017-12-27 05:37] trixpan opened #45 "Update to 0.70 due to security fixes"
[code]

[2017-12-27 05:40] trixpan commented on #45
Commit suggests version is already merged, however news don't reflect that yet?

[2018-01-20 01:52] NoMoreFood commented on #45
Daniel Risacher (@risacher) gave me access to keep his fork in sync with mine, but I don't control the website.  I'll see about asking him to do an HTTP redirect from his PuTTY CAC page to my fork since the usage instructions there are also out of date.

[2018-01-20 01:53] NoMoreFood commented on #6
Cleaning up - I don't think that's a high enough demand to keep this around.

[2018-01-20 01:53] #6 closed

[2018-01-20 01:54] NoMoreFood commented on #40
@LinuxSneaker  Is this still an issue or can I close this?

[2018-05-31 16:57] risacher commented on #45
@NoMoreFood Already fixed

[2018-05-31 16:57] #45 closed

[2018-07-28 13:36] NoMoreFood commented on #40
Closing due to lack of response.

[2018-07-28 13:36] #40 closed

[2018-10-02 22:33] hablutzel1 commented on #9
The following post might be of interest for someone trying to do the same thing with PKCS #11 certificates, https://blobfish.pe/blog/load-pkcs-11-key-using-putty-cac-pageant-from-command-line/.